# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv

# API keys and secrets
api_key.txt
*.key
*.pem
*.env
.env
config.yaml

# Logs
logs/
*.log

# Local Azure Storage Emulator
__azurite__/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Flask
instance/
.webassets-cache

# Distribution / packaging
.Python
build/

